---
- name: Install Docker
  ansible.builtin.include_role:
    name: docker

- name: Install Handshake Simple Resolver Application
  ansible.builtin.include_role:
    name: handshake_simple_resolver
    tasks_from: app_install

