#! /bin/sh

docker_net="--net {{ common_network_name }} --ip {{ common_subnet_prefix }}.{{ common_ip_handshake_full_node }}"

exec docker run --read-only ${docker_net} \
    -m {{ handshake_simple_resolver_memory_cap }} \
    --env SYSLOG_STDOUT=Y \
{% if common_with_handshake_full_node %}
	--env SIMPLE_RESOLVERS_LIST={{ common_subnet_prefix }}.{{ common_ip_handshake_full_node }} \
{% else %}
    {% if handshake_simple_resolver_parent_resolvers is defined%}
    	--env "SIMPLE_RESOLVERS_LIST={{ handshake_simple_resolver_parent_resolvers | join(";") }}" \
    {% endif %}
    -p 127.0.0.1:53:53 -p 127.0.0.1:53:53/udp \
{% endif %}
{% if handshake_simple_resolver_with_public_access %}
    {% for ip in ansible_facts.all_ipv4_addresses if ip[:4] != "172." %}
    -p {{ip}}:53:53 -p {{ip}}:53:53/udp \
    {% endfor %}
{% endif %}
    --env SIMPLE_REQUIRE_COOKIES={{ "yes" if handshake_simple_resolver_require_dns_cookies else "no" }} \
    --env "SIMPLE_ALLOWED_SUBNETS={{ handshake_simple_resolver_allowed_subnets | join(";") }}" \
    -t {{ handshake_simple_resolver_docker_image }}
