---
- name: Install Docker
  ansible.builtin.include_role:
    name: docker

- name: Install Handshake Full Node Application
  ansible.builtin.include_role:
    name: handshake_full_node
    tasks_from: app_install
  when: common_with_handshake_full_node

- name: Install Handshake Simple Resolver Application
  ansible.builtin.include_role:
    name: handshake_simple_resolver
    tasks_from: app_install
  when: common_with_handshake_simple_resolver

- name: "Pull Mail Server container, {{ handshake_mailserver_docker_image }}"
  ansible.builtin.command: /usr/local/bin/container_needs_updating "{{ handshake_mailserver_docker_image }}"
  register: result
  changed_when: "'CHANGE' in result.stdout"
  notify:
    - Restart Handshake Mail Server Container

- name: Install handshake_mailserver's systemd service file
  ansible.builtin.template:
    src: templates/handshake-mailserver.service.j2
    dest: /usr/lib/systemd/system/handshake-mailserver.service
    owner: root
    group: root
    mode: '0644'
  notify:
    - Systemd Reload

- name: Force systemd to reload
  ansible.builtin.meta: flush_handlers

- name: Create and install handshake-mailserver start up script
  ansible.builtin.template:
    src: templates/start_handshake_mailserver.j2
    dest: /usr/local/bin/start_handshake_mailserver
    owner: root
    group: root
    mode: '0755'
  notify:
    - Restart Handshake Mail Server Container

- name: "Create handshake-mailserver's data directory"
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
  loop:
    - "{{ handshake_mailserver_data_directory }}"
    - "{{ handshake_mailserver_data_directory }}/service"
    - "{{ handshake_mailserver_data_directory }}/service/config"
    - "{{ handshake_mailserver_data_directory }}/pems"

- name: Create policy config
  ansible.builtin.template:
    src: templates/policy.json.j2
    dest: "{{ handshake_mailserver_data_directory }}/service/config/policy.json"
    owner: root
    group: root
    mode: '0755'
  notify:
    - Restart Handshake Mail Server Container

- name: Manifest server.pem
  ansible.builtin.include_tasks: server_pem.yaml
  when: handshake_mailserver_server_pem is defined

- name: "Ensure handshake-mailserver service is enabled & running"
  ansible.builtin.service:
    name: handshake-mailserver
    enabled: true
    state: started
