---
- name: Install Docker
  ansible.builtin.include_role:
    name: docker

- name: Install Handshake Full Node Application
  ansible.builtin.include_role:
    name: handshake_full_node
    tasks_from: app_install
