[Unit]
Description=Handshake Full Node Container
Documentation=https://github.com/james-stevens/handshake-ansible
After=docker.service containerd.service
Wants=docker.service containerd.service
Requires=docker.socket docker.service

[Service]
ExecStart=/usr/local/bin/start_handshake_full_node
ExecStop=/usr/local/bin/stop_container {{ handshake_full_nodes_docker_image }}
Restart=always

KillMode=process

[Install]
WantedBy=multi-user.target
