---
- name: Update package db
  ansible.builtin.apt:
    update_cache: true

- name: Remove unwanted docker packages
  ansible.builtin.package:
    name:
      - docker.io
      - docker-doc
      - docker-compose
      - podman-docker
      - containerd
      - runc
    state: absent
