---
- name: Install Docker
  ansible.builtin.include_role:
     name: docker

- name: "Pull full node container, {{ handshake_full_nodes_docker_image }}"
  ansible.builtin.command: docker pull "{{ handshake_full_nodes_docker_image }}"

- name: Install handshake_full_node's systemd service file
  ansible.builtin.template:
    src: templates/handshake_full_node.service.j2
    dest: /usr/lib/systemd/system/handshake_full_node.service
    owner: root
    group: root
    mode: '0644'
  notify:
    - Systemd Reload

- name: Force systemd to reload
  ansible.builtin.meta: flush_handlers

- name: "Create handshake_full_node's data directory, {{ handshake_full_nodes_data_directory }}"
  ansible.builtin.file:
    path: "{{ handshake_full_nodes_data_directory }}"
    state: directory
    mode: '0755'
    owner: root
    group: root

- name: Create and install handshake_full_node start up script
  ansible.builtin.template:
    src: templates/start_handshake_full_node.j2
    dest: /usr/local/bin/start_handshake_full_node
    owner: root
    group: root
    mode: '0755'
  notify:
    - Restart Full Node Container

- name: Ensure handshake_full_node container is enabled & running
  ansible.builtin.service:
    name: handshake_full_node
    enabled: true
    state: started

- name: Make sure all pakages are up-to-date
  ansible.builtin.include_role:
    name: update_server
