---
- name: Install Docker
  ansible.builtin.include_role:
     name: docker

- name: "Pull full node container, {{ handshake_full_nodes_docker_image }}"
  community.docker.docker_image_pull:
    name: "{{ handshake_full_nodes_docker_image }}"
    platform: amd64

- name: Install systemd service file
  ansible.builtin.copy:
    src: files/handshake_full_node.service
    dest: /usr/lib/systemd/system/handshake_full_node.service
    owner: root
    group: root
    mode: '0644'
  notify:
    - Systemd Reload

- name: "Create data directory, {{ handshake_full_nodes_data_directory }}"
  ansible.builtin.file:
    path: "{{ handshake_full_nodes_data_directory }}"
    state: directory
    mode: '0755'
    owner: root
    group: root

- name: Make start up script
  ansible.builtin.template:
    src: templates/start_handshake_full_node.j2
    dest: /usr/local/bin/start_handshake_full_node
    owner: root
    group: root
    mode: '0755'
  notify:
    - Restart Full Node Container
