---
- name: Install ca-certificates
  ansible.builtin.package:
    name:
      - ca-certificates
    state: present

- name: Make keyrings directory
  ansible.builtin.file:
    path: /etc/apt/keyrings
    state: directory
    mode: '0755'
    owner: root
    group: root

- name: Get docker's current key
  ansible.builtin.get_url:
    url: https://download.docker.com/linux/debian/gpg
    dest: /etc/apt/keyrings/docker.asc
    mode: '0444'

- name: Update package db
  ansible.builtin.apt:
    update_cache: true

- name: Install fresh offical docker.com packages
  ansible.builtin.package:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin

- name: Install misc conatiner required packages
  ansible.builtin.package:
    name:
      - jq
      - skopeo
    state: present

- name: Install container helper scripts
  ansible.builtin.copy:
    src: "files/{{ item }}"
    dest: "/usr/local/bin/{{ item }}"
    owner: root
    group: root
    mode: '0777'
  loop:
    - container_needs_updating
    - stop_container

- name: Ensure docker services are running
  ansible.builtin.service:
    name: "{{ item }}"
    enabled: true
    state: started
  loop:
    - containerd
    - docker
