---
- name: Install docker on Ubuntu
  ansible.builtin.include_tasks: ubuntu.yaml
  when: ansible_facts['os_family']|lower == 'ubuntu'

- name: Install docker on Debian
  ansible.builtin.include_tasks: debian.yaml
  when: ansible_facts['os_family']|lower == 'debian'
