---
- name: Install docker on Ubuntu
  ansible.builtin.include_tasks: ubuntu.yaml
  when: ansible_facts['os_family']|lower == 'ubuntu'

- name: Install docker on Debian
  ansible.builtin.include_tasks: debian.yaml
  when: ansible_facts['os_family']|lower == 'debian'

- name: Install restart script
  ansible.builtin.copy:
    src: files/restart_container
    dest: /usr/local/bin/restart_container
    owner: root
    group: root
    mode: '0777'
