---
- name: Install docker on Ubuntu
  ansible.builtin.include_role:
    name: docker
    tasks_from: ubuntu
  when: ansible_facts['distribution']|lower == 'ubuntu'

- name: Install docker on Debian
  ansible.builtin.include_role:
    name: docker
    tasks_from: debian
  when: ansible_facts['distribution']|lower == 'debian'

- name: Install container helper scripts
  ansible.builtin.copy:
    src: "files/{{ item }}"
    dest: "/usr/local/bin/{{ item }}"
    owner: root
    group: root
    mode: '0755'
  loop:
    - container_needs_updating
    - stop_container
    - configure_subnet
    - dkps
    - dksh

- name: Run subnet install script
  ansible.builtin.command: /usr/local/bin/configure_subnet "{{ common_subnet_prefix }}" "{{ common_network_name }}"
  register: result
  changed_when: "'CHANGE' in result.stdout"

- name: Install misc conatiner useful packages
  ansible.builtin.package:
    name:
      - jq
      - bash
      - curl
    state: present
