---
- name: Install docker on Ubuntu
  ansible.builtin.include_tasks: ubuntu.yaml
  when: ansible_facts['os_family']|lower == 'ubuntu'

- name: Install docker on Debian
  ansible.builtin.include_tasks: debian.yaml
  when: ansible_facts['os_family']|lower == 'debian'

- name: Ensure docker services are running
  ansible.builtin.service:
    name: "{{ item }}"
    enabled: true
    state: started
  loop:
    - containerd
    - docker

- name: Install container stop script
  ansible.builtin.copy:
    src: files/stop_container
    dest: /usr/local/bin/stop_container
    owner: root
    group: root
    mode: '0777'
