---
- name: Install docker on Ubuntu
  ansible.builtin.include_role:
    name: docker
    tasks_from: ubuntu
  when: ansible_facts['distribution']|lower == 'ubuntu'

- name: Install docker on Debian
  ansible.builtin.include_role:
    name: docker
    tasks_from: debian
  when: ansible_facts['distribution']|lower == 'debian'
