---
- name: Install docker on Ubuntu
  ansible.builtin.include_role:
    name: docker
    tasks_from: ubuntu
  when: ansible_facts['os_family']|lower == 'ubuntu'

- name: Install docker on Debian
  ansible.builtin.include_role:
    name: docker
    tasks_from: debian
  when: ansible_facts['os_family']|lower == 'debian'

- name: Install misc conatiner required packages
  ansible.builtin.package:
    name:
      - jq
      - skopeo
    state: present

- name: Ensure docker services are running
  ansible.builtin.service:
    name: "{{ item }}"
    enabled: true
    state: started
  loop:
    - containerd
    - docker

- name: Install container helper scripts
  ansible.builtin.copy:
    src: "files/{{ item }}"
    dest: "/usr/local/bin/{{ item }}"
    owner: root
    group: root
    mode: '0777'
  loop:
    - container_needs_updating
    - stop_container
