#! /bin/sh

docker_net="--net {{ common_network_name }} --ip {{ common_subnet_prefix }}.{{ common_ip_handshake_full_node }}"

exec docker run --read-only ${docker_net} \
    --env SYSLOG_STDOUT=Y \
    --env HSD_LOG_LEVEL="{{ handshake_full_node_hsd_log_level }}" \
    --env HSD_ADDITIONAL_PARAMS="{{ handshake_full_node_hsd_additional_params }}" \
    -v {{ handshake_full_node_data_directory }}:/opt/data \
{% if handshake_full_node_hsd_public_node %}
    -p 12038:12038 -p 44806:44806 \
{% endif %}
{% for ip in ansible_facts.all_ipv4_addresses if ip[:4] != "172." %}
	{% if handshake_full_node_dns_both_public %}
		-p {{ ip }}:53:53/udp \
	{% elif handshake_full_node_dns_auth_public %}
		-p {{ ip }}:53:5349/udp \
	{% elif handshake_full_node_dns_recurse_public %}
		-p {{ ip }}:53:5350/udp \
	{% endif %}
{% endfor %}
{% if handshake_full_node_hsd_private_node %}
    -p 127.0.0.1:12038:12038 -p 127.0.0.1:44806:44806 \
{% endif %}
{% if handshake_full_node_dns_both_private %}
    -p 127.0.0.1:53:53/udp \
{% elif handshake_full_node_dns_auth_private %}
    -p 127.0.0.1:53:5349/udp \
{% elif handshake_full_node_dns_recurse_private %}
    -p 127.0.0.1:53:5350/udp \
{% endif %}
    -t {{ handshake_full_node_docker_image }}
